<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                <div class="well well-small"><a id="myCart" ui-sref="product_summary"><img
                        src="themes/images/ico-cart.png"
                        alt="cart">3 Items in your cart
                    <span class="badge badge-warning pull-right">$155.00</span></a></div>
                <ul id="sideManu" class="nav nav-tabs nav-stacked" ng-controller="SideBarController">
                    <li class="subMenu {{$index==0?'open':''}}" ng-repeat="catergory in allCatergorys">
                        <a> {{catergory.catergoryName}} [{{catergory.catergoryCount}}]</a>
                        <ul style="display:{{$index==0?'block':'none'}}">
                            <li ng-repeat="subCatergory in catergory.subCatergory"><a class="active"
                                                                                      ui-sref="products"><i
                                    class="icon-chevron-right"></i>{{subCatergory.catergoryName}}
                                ({{subCatergory.catergoryCount}})
                            </a>
                        </ul>
                    </li>
                </ul>
                <br/>
                <div class="thumbnail">
                    <img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
                    <div class="caption">
                        <h5>Panasonic</h5>
                        <h4 style="text-align:center"><a class="btn" ui-sref="product_details"> <i
                                class="icon-zoom-in"></i></a> <a class="btn" ui-sref="product_details">Add to <i
                                class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                        </h4>
                    </div>
                </div>
                <br/>
                <div class="thumbnail">
                    <img src="themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
                    <div class="caption">
                        <h5>Kindle</h5>
                        <h4 style="text-align:center"><a class="btn" ui-sref="product_details"> <i
                                class="icon-zoom-in"></i></a> <a class="btn" ui-sref="product_details">Add to <i
                                class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                        </h4>
                    </div>
                </div>
                <br/>
                <div class="thumbnail">
                    <img src="themes/images/payment_methods.png" title="Bootshop Payment Methods"
                         alt="Payments Methods">
                    <div class="caption">
                        <h5>Payment Methods</h5>
                    </div>
                </div>
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="home">Home</a> <span class="divider">/</span></li>
                    <li class="active">Products Name</li>
                </ul>
                <h3> Products Name
                    <small class="pull-right"> 40 products are available</small>
                </h3>
                <hr class="soft"/>
                <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.We always stay in
                    touch with the latest fashion tendencies - that is why our goods are so popular and we have a great
                    number of faithful customers all over the country.
                </p>
                <hr class="soft"/>
                <br class="clr"/>
                <div class="tab-content">
                    <div class="tab-pane  active" id="blockView">
                        <ul class="thumbnails" ng-controller="CarouseController">
                            <li class="span3" ng-repeat="item in allItems">
                                <div class="thumbnail">
                                    <a ui-sref="product_details({ inputItemIdValue: {{item.itemId}} })">
                                        <img src="themes/images/products/{{item.itemImage}}" alt=""/></a>
                                    <div class="caption">
                                        <h5>{{item.itemName}}</h5>
                                        <p>
                                            Lorem Ipsum is simply dummy text.
                                        </p>

                                        <h4 style="text-align:center">
                                            <a class="btn" ui-sref="product_details({ inputItemIdValue: {{item.itemId}} })">
                                                <i class="icon-zoom-in"></i>
                                            </a>
                                            <a class="btn" ui-sref="product_details({ inputItemIdValue: {{item.itemId}} })">
                                                Add to <i class="icon-shopping-cart"></i>
                                            </a>
                                            <a class="btn btn-primary" href="#">$&nbsp;{{item.itemPrice}}</a>
                                        </h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <hr class="soft"/>
                    </div>
                </div>
                <br class="clr"/>
            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
