<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3" >
                <div class="well well-small"><a id="myCart" ui-sref="product_summary"><img
                        src="themes/images/ico-cart.png"
                        alt="cart">3 Items in your cart
                    <span class="badge badge-warning pull-right">$155.00</span></a></div>
                <ul id="sideManu" class="nav nav-tabs nav-stacked"ng-controller="SideBarController">
                    <li class="subMenu {{$index==0?'open':''}}" ng-repeat="catergory in allCatergorys">
                        <a> {{catergory.catergoryName}} [{{catergory.catergoryCount}}]</a>
                        <ul style="display:{{$index==0?'block':'none'}}">
                            <li ng-repeat="subCatergory in catergory.subCatergory"><a class="active"
                                                                                      ui-sref="products"><i
                                    class="icon-chevron-right"></i>{{subCatergory.catergoryName}}
                                ({{subCatergory.catergoryCount}})
                            </a>
                        </ul>
                    </li>
                </ul>
                <br/>
                <div class="thumbnail">
                    <img src="themes/images/products/panasonic.jpg" alt="Bootshop panasonoc New camera"/>
                    <div class="caption">
                        <h5>Panasonic</h5>
                        <h4 style="text-align:center"><a class="btn" ui-sref="product_details"> <i
                                class="icon-zoom-in"></i></a> <a class="btn" ui-sref="product_details">Add to <i
                                class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                        </h4>
                    </div>
                </div>
                <br/>
                <div class="thumbnail">
                    <img src="themes/images/products/kindle.png" title="Bootshop New Kindel" alt="Bootshop Kindel">
                    <div class="caption">
                        <h5>Kindle</h5>
                        <h4 style="text-align:center"><a class="btn" ui-sref="product_details"> <i
                                class="icon-zoom-in"></i></a> <a class="btn" ui-sref="product_details">Add to <i
                                class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">$222.00</a>
                        </h4>
                    </div>
                </div>
                <br/>
                <div class="thumbnail">
                    <img src="themes/images/payment_methods.png" title="Bootshop Payment Methods"
                         alt="Payments Methods">
                    <div class="caption">
                        <h5>Payment Methods</h5>
                    </div>
                </div>
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9" ng-controller="UserController">
                <ul class="breadcrumb">
                    <li><a href="home">Home</a> <span class="divider">/</span></li>
                    <li class="active">Registration</li>
                </ul>
                <h3> Registration</h3>
                <div class="well" >
                    <form name="registerForm" class="form-horizontal" novalidate>
                        <h4>Your Personal Information</h4>
                        <div class="control-group">
                            <label class="control-label">Title <sup>*</sup></label>
                            <div class="controls">
                                <select class="span1" name="userTitle" ng-model="userDto.userTitle" required>
                                    <option value="">-</option>
                                    <option value="1">Mr.</option>
                                    <option value="2">Mrs</option>
                                    <option value="3">Miss</option>
                                </select>
                                <span ng-show="registerForm.userTitle.$touched && registerForm.userTitle.$invalid">The user title is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputFname1">First name <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="inputFname1" placeholder="First Name" name="userFirstName"
                                       required
                                       ng-model="userDto.userFirstName">
                                <span ng-show="registerForm.userFirstName.$touched && registerForm.userFirstName.$invalid">The first name is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputLnam">Last name <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="inputLnam" placeholder="Last Name" name="userLastName" required
                                       ng-model="userDto.userLastName">
                                <span ng-show="registerForm.userLastName.$touched && registerForm.userLastName.$invalid">The last name is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input_email">Email <sup>*</sup></label>
                            <div class="controls">
                                <input type="email" id="input_email" placeholder="Email" ng-model="userDto.userEmail"
                                       required name="userEmail">
                                <span ng-show="registerForm.userEmail.$error.required">The email is required.</span>
                                <span ng-show="registerForm.userEmail.$error.email">The email is not valid.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
                            <div class="controls">
                                <input type="password" id="inputPassword1" placeholder="Password" required
                                       ng-model="userDto.userPassword" name="userPassword">
                                <span ng-show="registerForm.userPassword.$touched && registerForm.userPassword.$invalid">The password is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date of Birth <sup>*</sup></label>
                            <div class="controls">
                                <input type="date" id="userBdDay" placeholder="YYYY-MM-DD" required max="{{maxDate}}"
                                       ng-model="userDto.userBdDay" name="userBdDay">
                                <span ng-show="registerForm.userPassword.$touched && registerForm.userBdDay.$error.date">The date of birth is required.</span>
                                <span ng-show="registerForm.userBdDay.$error.date">The date should be a valid date.</span>
                                <span ng-show="registerForm.userBdDay.$error.max">The date can't be in future.</span>
                            </div>
                        </div>

                        <h4>Your Address Information</h4>
                        <div class="control-group">
                            <label class="control-label" for="inputFname">First name <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="inputFname" placeholder="First Name" name="userAddFirstName"
                                       required
                                       ng-model="userDto.userAddFirstName">
                                <span ng-show="registerForm.userAddFirstName.$touched && registerForm.userAddFirstName.$invalid">The first name is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputLname">Last name <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="inputLname" placeholder="Last Name" name="userAddLastName"
                                       required
                                       ng-model="userDto.userAddLastName"/>
                                <span ng-show="registerForm.userAddLastName.$touched && registerForm.userAddLastName.$invalid">The last name is required.</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="company">Company</label>
                            <div class="controls">
                                <input type="text" id="company" placeholder="company" name="userAddCompany"
                                       ng-model="userDto.userAddCompany"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="address">Address<sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="address" placeholder="Adress" name="userAddressLine1" required
                                       ng-model="userDto.userAddressLine1"/> <span>Street address, P.O. box, company name, c/o</span>
                                <span ng-show="registerForm.userAddressLine1.$touched && registerForm.userAddressLine1.$invalid">The address is required.</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="address2">Address (Line 2)<sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="address2" placeholder="Adress line 2" name="userAddressLine2"
                                       required
                                       ng-model="userDto.userAddressLine2"/> <span>Apartment, suite, unit, building, floor, etc.</span>
                                <span ng-show="registerForm.userAddressLine2.$touched && registerForm.userAddressLine2.$invalid">The address is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="city">City<sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="city" placeholder="city" ng-model="userDto.userAddCity"
                                       name="userAddCity" required/>
                                <span ng-show="registerForm.userAddCity.$touched && registerForm.userAddCity.$invalid">The city is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="state">State<sup>*</sup></label>
                            <div class="controls">
                                <select id="state" ng-model="userDto.userAddState" name="userAddState" required>
                                    <option value="">-</option>
                                    <option value="1">Alabama</option>
                                    <option value="2">Alaska</option>
                                    <option value="3">Arizona</option>
                                    <option value="4">Arkansas</option>
                                    <option value="5">California</option>
                                    <option value="6">Colorado</option>
                                    <option value="7">Connecticut</option>
                                    <option value="8">Delaware</option>
                                    <option value="53">District of Columbia</option>
                                    <option value="9">Florida</option>
                                    <option value="10">Georgia</option>
                                    <option value="11">Hawaii</option>
                                    <option value="12">Idaho</option>
                                    <option value="13">Illinois</option>
                                    <option value="14">Indiana</option>
                                    <option value="15">Iowa</option>
                                    <option value="16">Kansas</option>
                                    <option value="17">Kentucky</option>
                                    <option value="18">Louisiana</option>
                                    <option value="19">Maine</option>
                                    <option value="20">Maryland</option>
                                    <option value="21">Massachusetts</option>
                                    <option value="22">Michigan</option>
                                    <option value="23">Minnesota</option>
                                    <option value="24">Mississippi</option>
                                    <option value="25">Missouri</option>
                                    <option value="26">Montana</option>
                                    <option value="27">Nebraska</option>
                                    <option value="28">Nevada</option>
                                    <option value="29">New Hampshire</option>
                                    <option value="30">New Jersey</option>
                                    <option value="31">New Mexico</option>
                                    <option value="32">New York</option>
                                    <option value="33">North Carolina</option>
                                    <option value="34">North Dakota</option>
                                    <option value="35">Ohio</option>
                                    <option value="36">Oklahoma</option>
                                    <option value="37">Oregon</option>
                                    <option value="38">Pennsylvania</option>
                                    <option value="51">Puerto Rico</option>
                                    <option value="39">Rhode Island</option>
                                    <option value="40">South Carolina</option>
                                    <option value="41">South Dakota</option>
                                    <option value="42">Tennessee</option>
                                    <option value="43">Texas</option>
                                    <option value="52">US Virgin Islands</option>
                                    <option value="44">Utah</option>
                                    <option value="45">Vermont</option>
                                    <option value="46">Virginia</option>
                                    <option value="47">Washington</option>
                                    <option value="48">West Virginia</option>
                                    <option value="49">Wisconsin</option>
                                    <option value="50">Wyoming</option>
                                </select>
                                <span ng-show="registerForm.userAddState.$touched && registerForm.userAddState.$invalid">The state is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="postcode">Zip / Postal Code<sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="postcode" placeholder="Zip / Postal Code" name="userAddZipCode"
                                       required
                                       ng-model="userDto.userAddZipCode"/>
                                <span ng-show="registerForm.userAddZipCode.$touched && registerForm.userAddZipCode.$invalid">The zip / postal code is required.</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="country">Country<sup>*</sup></label>
                            <div class="controls">
                                <select id="country" ng-model="userDto.userAddCountry" name="userAddCountry" required>
                                    <option value="">-</option>
                                    <option value="1">Country</option>
                                </select>
                                <span ng-show="registerForm.userAddCountry.$touched && registerForm.userAddCountry.$invalid">The country is required.</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="aditionalInfo">Additional information</label>
                            <div class="controls">
                                <textarea name="aditionalInfo" id="aditionalInfo" cols="26" rows="3"
                                          ng-model="userDto.userAdditionl">Additional information</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="phone">Home phone <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" name="userTelephone" id="phone" placeholder="phone" required
                                       ng-model="userDto.userTelephone"/>
                                <span ng-show="registerForm.userTelephone.$touched && registerForm.userTelephone.$invalid">You must register at least one phone number</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="mobile">Mobile Phone </label>
                            <div class="controls">
                                <input type="text" name="userMobile" id="mobile" placeholder="Mobile Phone"
                                       ng-model="userDto.userMobile"/>
                            </div>
                        </div>

                        <p><sup>*</sup>Required field </p>

                        <div class="control-group">
                            <div class="controls">
                                <input type="hidden" name="email_create" value="1">
                                <input type="hidden" name="is_new_customer" value="1">
                                <input ng-disabled="registerForm.$invalid" ng-click="saveUser()"
                                       class="btn btn-large btn-success" type="button" value="Register"/>
                                <input class="btn btn-large btn-danger" type="button" value="Reset" ng-click="reset()"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
